/* Work sans font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300&family=PT+Serif:ital@1&family=Poppins&family=Roboto:ital,wght@0,900;1,300;1,400;1,900&family=Space+Mono&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* Shared Styles */
*{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Serif', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Space Mono', monospace;
    font-family: 'Work Sans', sans-serif;
}
.btn-primary{
    padding: 20px 25px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    color: #FFF;
    width: 172px;
    height: 63px;
    border-radius: 8px;
    background-color: #FF900E;
    margin-bottom: 30px;
}
.text-light-gray{
    color:#727272;
}
.section-title{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

/* Header styles */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 20px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-size: 18px;
    font-weight: 500;
}
nav li a{
    text-decoration: none;
    color: #424242;
}

/* Banner Styles */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner img{
    width: 100%;
}

/* main styles */
main{
    max-width: 1440px;
    margin: 70px auto;
}
/* Team styles */

.teams-container{
    display: flex;
    align-items: center;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.teams-content{
    padding-left: 70px;
    padding-right: 70px;
}
.teams-title{
    font-size: 2.8rem;
}
.teams-title{
    color: #727272;
    font-weight: 500;
}
.teams-title .text-feature{
    color: #FF900E;
    font-weight: 700;
}
.of-Our{
    color: #131313;
    font-weight: 700;
}

/* Feature Section Styles */
.features{
    display: flex;
    padding: 20px;
    margin-top: 130px;
    gap: 100px;
}
.features .section-title{
    border-left: 5px solid #FF900E;
    padding-left: 21px;
}
.feature-content .card{
    padding: 25px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.feature-image img{
    height: 90%;
    margin-left: 90px;
}

.ten-years-badge{
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    width: 342px;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 100px;
}
.ten-years-badge h1{
    font-size: 4rem;
    margin: 0;
}
.ten-years-badge p{
    font-size: 1.5rem;
    margin: 0;
}

/* Facts Section */

.facts-card-container{
    display: flex;
    justify-content: space-around;
}
.facts-card-container .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
}

.facts-card-container .card-stats{
    color: #424242;
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

.facts-card-container .card-title{
    color-scheme: #727272;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 5px;
}

/* Sponsors Section */
.sponsors{
    text-align: center;
}
.sponsors-img-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}
.sponsors-img-container img{
    width: 160px;
}

/* footer section */
footer{
    width: 1440px;
    margin: 100px auto;
    align-items: center;
}
.footer-desc{
    border-radius: 8px;
    color: #424242;
    font-size: 20px;
    font-weight: 400;
    padding-top: 45px;
    background: #FFF4E7;
    height: 90px;
    text-align: center;
}

/* Responsive Media styles */
/* Mobile devices */
@media screen and (max-width:576px) {
    .section-all, .section-desc{
        width: 100%;
    }
    header, .sponsors-img-container {
        padding: 20px;
    }
    nav,
    .teams-container, 
    .facts-card-container,
    .sponsors-img-container,
    .features {
        flex-direction: column;
    }
    .teams-img-container{
        grid-template-columns: 1fr;
    }
    .teams-content{
        padding-left: 20px;
        padding-right: 20px;
    }
    .facts-card-container {
        gap: 20px;
    }
    .feature-image img{
        width: 100%;
        margin-left: 0;
    }
    .ten-years-badge{
        position: static;
        width: 75%;
    }
    footer{
        width: 100%;
    }
}

/* Tablet devices */
@media screen and (min-width:576px) and (max-width:1024px) {
    header, .facts-card-container{
        padding: 20px;
    }
    nav, 
    .teams-container,
    .sponsors-img-container,
    .features
    {
        flex-direction: column;
    }
    .facts-card-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
    .feature-image img{
        width: 100%;
        margin-left: 0;
    }
    footer{
        width: 100%;
    }
}